<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" id="signIn" (click)="showLogin()" *ngIf="!fgtPwd"> Sign In </h2>
    <h2 class="inactive underlineHover" id="register" (click)="showRegister()" *ngIf="!fgtPwd">Sign Up </h2>
    <h2 class="active" id="forgotPWD" *ngIf="fgtPwd"> Forgot Password </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/login.svg" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <div id="login-form" *ngIf="login">
      <form nonvalidate #loginForm="ngForm">
        <input type="text" [(ngModel)]="user.username" #username="ngModel" id="login" class="fadeIn second"
               name="Username"
               placeholder="Username" required>
        <mat-error class="error-styling" *ngIf="username.errors?.required && username.touched">
          Username is required.
        </mat-error>
        <input type="password" [(ngModel)]="user.password" #password="ngModel" id="password" class="fadeIn third"
               name="loginPassword"
               placeholder="Password" required>
        <mat-error class="error-styling" *ngIf="password.errors?.required && password.touched">
          Password is required.
        </mat-error>
        <input type="submit" class="fadeIn fourth"
               [disabled]="!loginForm.valid" class="fadeIn fourth" value="Log In" (click)="loginUser(user)">
      </form>

      <div class="formFooter">
        <a class="underlineHover" (click)="activateForgotPwd()">Forgot Password?</a>
      </div>
    </div>

    <div id="register-form" *ngIf="register">
      <form nonvalidate #registerForm="ngForm">
        <input type="text" [(ngModel)]="user.regUsername" #regUsername="ngModel" id="userName" class="fadeIn second"
               name="User Name"
               placeholder="User Name"
               required>
        <mat-error class="error-styling" *ngIf="regUsername.errors?.required && regUsername.touched">
          Username is required.
        </mat-error>
        <input type="password" [(ngModel)]="user.regPassword" #regPassword="ngModel" id="regPassword"
               class="fadeIn third" name="Password" placeholder="Password" minlength="3" required>
        <mat-error class="error-styling" *ngIf="regPassword.errors?.required && regPassword.touched">
          Password is required.
        </mat-error>
        <mat-error class="error-styling" *ngIf="regPassword.errors?.minlength && regPassword.touched">
          Please enter minimum of 3 characters.
        </mat-error>
        <input type="password" [(ngModel)]="user.regConfirmPassword" #regConfirmPassword="ngModel" id="regPasswordConfirm"
               class="fadeIn fourth" name="Confirm Password" placeholder="Confirm Password" required>
        <mat-error class="error-styling" *ngIf="regConfirmPassword.errors?.required && regConfirmPassword.touched">
          Retyping password is required.
        </mat-error>
        <mat-error class="error-styling" *ngIf="checkValid(user,regConfirmPassword.touched)">
          Please enter the correct password in both the fields.
        </mat-error>
        <mat-checkbox class="example-margin fadeIn third" [(ngModel)]="docCheck" (click)="showDocUID(registerForm)">Are you a
          registered doctor ?
        </mat-checkbox>
        <input [hidden]="!docCheck" type="text" [(ngModel)]="user.doctorUID" #doctorUID="ngModel" id="doctorUID"
               class="fadeIn second"
               name="uid"
               placeholder="Enter your unique id(UID)">
        <input type="submit" class="fadeIn fourth cursor" value="Register"
               [disabled]="!registerForm.valid || mismatchPassword"
               (click)="registerUser(user)">
      </form>
    </div>


    <div id="fgtPwd-form" *ngIf="fgtPwd">
      <form nonvalidate #fgtPwdForm="ngForm">
        <input type="text" [(ngModel)]="fgtPwdEmail" #fgtEmail="ngModel" id="fgtEmail" class="fadeIn second"
               name="Email"
               placeholder="Email" required>
        <mat-error class="error-styling" *ngIf="fgtEmail.errors?.required && fgtEmail.touched">
          Email is required.
        </mat-error>
        <input type="submit" class="fadeIn fourth"
               [disabled]="!fgtPwdForm.valid" class="fadeIn fourth" value="Submit"
               (click)="forgotPassword(fgtPwdEmail)">
      </form>

      <div class="formFooter">
        <a class="underlineHover" (click)="deactivateForgotPwd()">Return to Login</a>
      </div>

    </div>


  </div>
</div>



