<div id="profile-wrap">
  <div class="pulse1"></div>
  <div class="pulse2"></div>
  <div class="profile-overlay"></div>
  <div class="profile-image"></div>
  <div class="profile-name">
    <!--  <h2>Hi, I'm Priya<br>Ranjan<span> a berlin based graphic designer</span></h2>-->
    <h2>Priya Ranjan<br>Panda<span> full stack developer</span></h2>
  </div>
  <div class="profile-social">
    <ul>
      <li><a href="https://github.com/Priyaranjan1993" data-toggle="tooltip" title="github" target="_blank"><i
        class="fa fa-github"></i></a></li>
      <li><a href="https://www.facebook.com/priyaranjan.panda.7" data-toggle="tooltip" title="facebook" target="_blank"><i
        class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.linkedin.com/in/priyaranjan-panda-b3000911b/" data-toggle="tooltip" title="linkedIn"
             target="_blank"><i
        class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
<div class="topic">
  <div class="links-name">
    <h2>Assignments</h2>
    <div class="separator">
      <hr>
      <span class=""></span>
      <hr>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Assignment 1</mat-card-title>
              <mat-card-subtitle>Assignment Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://calm-shelf-22381.herokuapp.com/" target="_blank">Heroku Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.1"
                   target="_blank">Github
                  Link</a>
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Assignment 2</mat-card-title>
              <mat-card-subtitle>Assignment Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://shrouded-badlands-85292.herokuapp.com/courses" target="_blank">Heroku Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.2"
                   target="_blank">Github
                  Java Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment-2-React/releases/tag/v1.1"
                   target="_blank">Github React Link</a>
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Assignment 3</mat-card-title>
              <mat-card-subtitle>Assignment Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://protected-mountain-43946.herokuapp.com/courses" target="_blank">Heroku React Redux
                  Link</a>
              </p>
              <p class="tile-body">
                <a href="https://shrouded-lowlands-37542.herokuapp.com/" target="_blank">Heroku Java
                  Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.3"
                   target="_blank">Github Java Link</a>
              </p>

              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment-2-React/releases/tag/v1.2"
                   target="_blank">Github
                  React Redux Link</a></p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Assignment 4</mat-card-title>
              <mat-card-subtitle>Assignment Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://peaceful-inlet-41065.herokuapp.com/" target="_blank">Heroku Java
                  Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/tree/v1.4"
                   target="_blank">Github Java Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/React-Native/tree/v1.2" target="_blank">Github
                  React Native Link</a>
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Assignment 5</mat-card-title>
              <mat-card-subtitle>Assignment Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://murmuring-wildwood-40612.herokuapp.com/home" target="_blank">Heroku
                  Angular Link</a></p>
              <p class="tile-body">
                <a href="https://still-beyond-49650.herokuapp.com/" target="_blank">Heroku Node
                  Link</a>
              </p>

              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Course-Manager-Angular-Client/releases/tag/1.1"
                   target="_blank">Github
                  Angular Link</a></p>

              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Course-Manager-Node-Server/releases/tag/1.1"
                   target="_blank">Github Node Link</a></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!--<p class="assgnHeader">Assignment 1</p>
    <span class="links"></span><a href="https://calm-shelf-22381.herokuapp.com/" target="_blank">Heroku Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.1"
                                  target="_blank">Github Link</a><br/><br/>

    <p class="assgnHeader">Assignment 2</p>
    <span class="links"></span><a href="https://shrouded-badlands-85292.herokuapp.com/courses" target="_blank">Heroku
    Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.2"
                                  target="_blank">Github Java Link</a><br/>
    <span class="links"></span><a
    href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment-2-React/releases/tag/v1.1" target="_blank">Github
    React Link</a><br/><br/>

    <p class="assgnHeader">Assignment 3</p>
    <span class="links"></span><a href="https://protected-mountain-43946.herokuapp.com/courses" target="_blank">Heroku
    React Redux Link</a><br/>
    <span class="links"></span><a href="https://shrouded-lowlands-37542.herokuapp.com/" target="_blank">Heroku Java
    Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/releases/tag/v1.3"
                                  target="_blank">Github Java Link</a><br/>
    <span class="links"></span><a
    href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment-2-React/releases/tag/v1.2" target="_blank">Github
    React Redux Link</a><br/><br/>

    <p class="assgnHeader">Assignment 4</p>
    <span class="links"></span><a href="https://peaceful-inlet-41065.herokuapp.com/" target="_blank">Heroku Java
    Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/Webdev-Summer-Assignment1/tree/v1.4"
                                  target="_blank">Github Java Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/React-Native/tree/v1.2" target="_blank">Github
    React Native Link</a><br/><br/>

    <p class="assgnHeader">Assignment 5</p>
    <span class="links"></span><a href="https://murmuring-wildwood-40612.herokuapp.com/home" target="_blank">Heroku
    Angular Link</a><br/>
    <span class="links"></span><a href="https://still-beyond-49650.herokuapp.com/" target="_blank">Heroku Node
    Link</a><br/>
    <span class="links"></span><a
    href="https://github.com/Priyaranjan1993/Course-Manager-Angular-Client/releases/tag/1.1" target="_blank">Github
    Angular Link</a><br/>
    <span class="links"></span><a href="https://github.com/Priyaranjan1993/Course-Manager-Node-Server/releases/tag/1.1"
                                  target="_blank">Github Node Link</a><br/><br/>
-->
  </div>


  <div class="links-name">
    <h2>Project</h2>
    <div class="separator">
      <hr>
      <span class=""></span>
      <hr>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="tiles">
          <mat-card class="example-card">
            <mat-card-header class="example-card">
              <mat-card-title>Project</mat-card-title>
              <mat-card-subtitle>Project Links</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="tile-body">
                <a href="https://floating-meadow-96456.herokuapp.com" target="_blank">Heroku Link</a>
              </p>
              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/WebDev-Project/releases/tag/1.3"
                   target="_blank">Angular Github Link</a>
              </p>

              <p class="tile-body">
                <a href="https://github.com/Priyaranjan1993/Webdev-Project-Server/releases/tag/1.1"
                   target="_blank">Java Github Link</a>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>


  <div class="links-name">
    <h2>Youtube video for the project</h2>
    <div class="separator">
      <hr>
      <span class=""></span>
      <hr>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uxdM8tUYKvo" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

