#uploadBtn {
  margin: 2% 1%;
}

#uploadBar {
  outline: none;
}

#uploadMod {
  margin: 0 0 0 14px;
}

.warn-cmnt {
  font-size: 12px;
  color: orange;
}

.warn-image {
  font-size: 17px;
  color: orange;
  margin: 0px 0 0 18px;
  position: relative;
  top: 4px;
}
